body{
background:#09090b;
color:#f4f4f5;
font-family:system-ui;
padding:30px;
}
h1{
color:#16a34a;
text-align:center;
}
.box{
background:#18181b;
padding:20px;
border-radius:12px;
max-width:600px;
margin:auto;
}
input,textarea{
width:95%;
background:#27272a;
color:white;
padding:10px;
margin:5px;
border-radius:8px;
}
button{
background:#16a34a;
color:white;
border:0;
padding:10px;
margin:5px;
border-radius:8px;
}
